<div class="row">
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.archer.ac.uk/" title="ARCHER">
	    <img alt="Software Carpentry banner" src="{{page.root}}/img/archer_logo_360.png" />
	  </a>
	</div>
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.epcc.ed.ac.uk" title="EPCC">
	    <img alt="Software Carpentry banner" src="{{page.root}}/img/epcc-logo.png" />
	  </a>
	</div>
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.software.ac.uk/" title="SSI">
	    <img alt="Software Carpentry banner" src="{{page.root}}/img/ssi.png" />
	  </a>
	</div>
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.datacarpentry.org//" title="Data Carpentry">
	    <img alt="Software Carpentry banner" src="{{page.root}}/img/datacarpentry-logo.png" />
	  </a>
	</div>
</div>
